/*Imports*/
@import url("fonts.css");
@import url("variables.css");

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(
        125deg,
        var(--color-blue) 0%,
        var(--color-blue) 61%,
        var(--color-green) 99%
    );
    color: var(--color-dark);
    min-height: 100vh;
    font-family: var(--default-serif-font);
    font-size: var(--font-size-default);
    font-weight: lighter;
    position: relative;
    display: flex;
    justify-content: center;
    padding-block: var(--size-value-xxl);
    /* align-items: center; */
}

main.container {
    width: 85%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #0000ff;
    padding: var(--size-value-big) var(--size-value-normal)
        var(--size-value-big) var(--size-value-small);
    height: fit-content;
}

body ul {
    padding-left: var(--size-value-big);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--serif-font-3);
    font-weight: 900;
}

h1 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-big);
}

h3 {
    font-size: var(--font-size-medium);
}

table,
tr,
td,
th,
caption {
    border: var(--border-default);
    border-collapse: collapse;
    padding: var(--size-value-small);
    font-family: var(--sans-serif-font-1);
}

button {
    font-family: var(--sans-serif-font-2);
    font-weight: bold;
    letter-spacing: 0.08em;
    border: none;
    border-radius: var(--border-radius-default);
    background: var(--color-blue);
    color: var(--color-light);
    padding: var(--size-value-small);
    transform: scale(1);
    cursor: pointer;
    font-size: var(--font-size-normal);
}

button:active {
    transform: scale(0.96);
    transition: 0.25s linear;
}

ul {
    list-style-type: square;
}

ul li::marker {
    color: turquoise;
    font-size: var(--font-size-medium);
}

a {
    color: var(--color-blue-light);
    text-decoration: none;
    transition: none;
}

a:visited {
    color: var(--color-purple);
}

a:is(:hover, :focus) {
    color: var(--color-light);
    text-decoration: underline;
    transition: 0.25s;
}

a:active {
    color: var(--color-red);
    transition: none;
}

input,
textarea {
    font: inherit;
}

input:is([type="text"], [type="number"]):focus {
    outline: none;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 12px 0 3px;
}

/*Reset End*/

/*Utility Classes*/
.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.box-center1 {
    display: block;
    margin: auto;
}

.box-center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Utitlity Classes */
main.container * {
    margin-block: var(--size-value-tiny);
}

.list-header {
    text-align: center;
}

.task-box {
    font: inherit;
    font-size: var(--font-size-normal);
    width: clamp(30%, 15rem, 70%);
    padding: var(--size-value-small);
    border-width: 1px;
    border-radius: 5px;
}

.task-box:focus-within {
    border: 1px solid hsl(240, 100%, 50%);
    outline: hsl(240, 100%, 50%);
}

.task-form,
.task-form form {
    display: flex;
    width: 100%;
    height: clamp(10vh, auto, 500px);
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.task-form {
    flex-flow: row wrap;
}

.button {
    padding: var(--size-value-small);
    transition: 0.5s;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: hsl(240, 100%, 50%);
}

.button:active {
    background-color: hsl(240, 100%, 60%);
    transition: 0.1s;
    color: #fff;
    background: hsl(240, 100%, 80%);
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.5em;
}

.task-container {
    position: relative;
    display: flex;
    margin: var(--size-value-tiny) auto;
    padding: 3px 20px;
    border-radius: var(--border-radius-default);
    background: rgb(193, 179, 255);
    justify-content: space-between;
    align-items: center;
    /* flex-flow: row wrap; */
    width: 82.5%;
}

.task-controllers input[type="datetime-local"] {
    font-family: var(--default-sans-serif-font);
    font-size: var(--font-size-normal);
    width: clamp(30%, 15rem, 80%);
    padding: var(--size-value-tiny) var(--size-value-tiny);
}

.task-form2 {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    justify-content: center;
    text-align: center;
    padding: var(--size-value-small) var(--size-value-small) 0;
}

.container .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 364px;
    overflow-x: hidden;
    overflow-y: auto;
}

.task-form2 input[type="checkbox"] {
    display: none;
}

.task-form2 .checkmark {
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid #0078d4;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: border-color 0.2s, background-color 0.2s;
}

.task-form2 .checkmark.checked {
    background-color: #0078d4;
    border-color: #0078d4;
}

.task-form2 i {
    position: absolute;
    top: calc(50% - 0.25em);
    left: calc(50% - 0.05em);
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.25rem, 0.5rem, 0.75rem);
    color: #fff;
}

.task-form2 .checkmarker {
    display: block;
    left: 0.45em;
    top: 0.2em;
    width: 0.4em;
    height: 0.8em;
    border: solid #fff;
    border-width: 0 0.2em 0.2em 0;
    transform: rotate(45deg);
    content: "";
}

.task-buttons {
    display: inline-flex;
    padding: var(--size-value-small) var(--size-value-tiny);
    border: none;
    border-radius: var(--border-radius-default);
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    gap: 0.5em;
}

.task-buttons.delete-btn {
    background: #b71c1c;
    width: fit-content;
    padding: var(--size-value-small);
}

.task-buttons.edit-btn {
    background: #1b5e20;
}

.delete-btn:is(:hover, :focus) {
    background: var(--color-red-light);
}

.edit-btn:is(:hover, :focus) {
    background: var(--color-green-light);
}

label {
    cursor: pointer;
    user-select: none;
}

.hidden {
    display: none;
}

.current-button {
    color: #000;
    border: 1px solid hsl(240, 100%, 50%);
    background-color: #fff;
}

.input-editor {
    font-family: inherit;
    width: 100%;
    padding: 7px;
    border: red;
    outline: red;
}

.errorText {
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-style: italic;
    color: red;
}

.task-controllers {
    font-family: inherit;
    display: inline-flex;
    width: fit-content;
    padding: 0;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.task-buttons-div {
    font-family: inherit;
    display: inline-flex;
    width: 90%;
    padding: 0;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

@media (width: 540px) and (height: 720px) {
    .task-container {
        flex-flow: column;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .task-form,
    .task-form form {
        flex-direction: column;

        height: auto;

        margin-block: 0 10px;
    }

    .task-box {
        width: 60%;
    }

    br {
        display: none;
    }

    h3 {
        margin-block: 1px;
    }

    .task-container {
        position: relative;
        display: flex;
        min-height: 15%;
        padding: 1% 0;
        border-radius: 10px;
        background: rgb(193, 179, 255);
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        margin-block: 2%;
    }

    .task-form2 {
        width: 100%;
        /* gap: 0.25em; */
    }

    .tasks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
    }

    .task-buttons-div {
        font-family: inherit;
        display: inline-flex;
        width: 100%;
        padding: 0;
        border: none;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }

    .hidden {
        display: none;
    }

    .list-header {
        font-size: clamp(1.5rem, 1.75rem, 3rem);
    }
}

.task-label {
    font-size: clamp(0.8rem, 2vw + 0.2rem, 1.5rem);
    font-weight: lighter;
}

.highlight {
    background: rgba(0, 0, 255, 0.26);
}

@media (min-width: 768px) {
    .task-container {
        width: 95%;
    }
    .task-form2 {
        text-align: left;
        gap: 0.5em;
        width: max-content;
    }
    .task-form2 label.task-label {
        width: max-content;
    }
    .task-controllers {
        justify-content: flex-end;
    }

    .task-buttons-div {
        width: clamp(30%, 15rem, 80%);
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .task-controllers {
        flex-flow: row nowrap;
        gap: 1em;
    }
    .task-buttons-div {
        flex-flow: row nowrap;
    }
}

@media (min-width: 1360px) {
    .task-container {
        width: 70%;
    }
}

@media (min-width: 2560px) {
    main.container {
        width: 60%;
    }
    .task-container {
        width: 60%;
    }
}

@media (max-height: 1000px) {
    body {
        padding-block: var(--size-value-normal);
    }
}
